In [66]:
from torch.utils.data import Dataset
from typing import Tuple
import torch
import matplotlib.pyplot as plt


class TaskDataset(Dataset):
    def __init__(self, transform=None):

        self.ids = []
        self.imgs = []
        self.labels = []

        self.transform = transform

    def __getitem__(self, index) -> Tuple[int, torch.Tensor, int]:
        id_ = self.ids[index]
        img = self.imgs[index]
        if not self.transform is None:
            img = self.transform(img)
        label = self.labels[index]
        return id_, img, label

    def __len__(self):
        return len(self.ids)

In [40]:
import pandas as pd

In [121]:
#pobieranie danych zmień na swoje

from google.colab import drive
drive.mount('/content/drive')
dataset = torch.load('/content/drive/MyDrive/dane.pt')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [127]:
df = pd.DataFrame([dataset.ids,dataset.labels]).T
df.columns =['id','labels']
df.labels.value_counts()

62225416    1775
62014378    1584
15103694    1346
90386222    1134
26466207     833
14119474     502
75652382     443
83450130     423
24683694     420
70483417     378
31527279     360
40019202     340
75986657     329
50011542     325
15256249     316
68395620     286
64963739     278
10964686     273
55364435     270
33633783     265
23255817     178
19888903     155
67716412     110
43338066      78
74777746      72
65142471      66
6661858       52
93429558      41
23659574      37
37206695      32
77329636      32
32036533      27
92257871      26
80504125      19
75477331      18
47140557      17
85864573      16
78173080      16
12076452      16
9410583       15
75313326      14
15258297      13
32369775      13
91097190      12
98460345      10
34183981      10
20200178       9
79051840       9
40835903       4
47511766       3
Name: labels, dtype: int64

ilość klas

In [129]:
df.labels.value_counts().count()

50

In [130]:
def get_data_order(dataset):
  df = pd.DataFrame([dataset.ids,dataset.labels]).T
  df.columns =['id','labels']

  first_id = df.id[0]
  final_table=[first_id]

  df = df.assign(G=df.groupby('labels').labels.transform('count')).sort_values(['G','labels'],ascending=[False,True]).drop('G',1)

  for _,id in enumerate(df.id.values):
    final_table.append(id)
    final_table.append(73838)
  return pd.Series(final_table)

In [118]:
get_data_order(dataset)

<ipython-input-117-f0bdf20a6397>:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.assign(G=df.groupby('labels').labels.transform('count')).sort_values(['G','labels'],ascending=[False,True]).drop('G',1)

0         73838
1        288406
2         73838
3        278728
4         73838
          ...
25996     73838
25997    161598
25998     73838
25999    160803
26000     73838
Length: 26001, dtype: int64